@import url("aboutyou_nav.css");

body {
    display: flex;
    margin: 0px;
    min-height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
}

main {
    flex: 3;
    background-color: #f8f8f8;
    padding: 30px;
    
}

a {
      color: black;
      text-decoration: none;
}

.spacer {
    height: 5000px;
}

main .content {
    padding: 2%;
    margin-right: 80px;
    margin-left: 80px;
    /* background-color: white; */
    border-radius: 5px;
    color: rgb(100, 100, 100);
    background-color: white;
    line-height: 1.6;
}

main .title {
    font-size: larger;
}

main .spacer {
    height: 20px;
}