nav {
    width: 130px;
    padding: 40px;
}

nav .title {
    margin-top: 8vh;
    font-family: 'Nanum Myeongjo', sans-serif;
    line-height: 1.5;
    position: fixed;  
}

nav .content {
    margin-top: 15vh;
    position: fixed;
    color: gray;
}

nav .spacer {
    height: 30px;
    /* position: fixed; */
}

nav .link {
    margin-top: 75vh;
    padding-left: 0px;
    line-height: 2.2;
    position: fixed;
}


nav img{
    position: fixed;
}

nav a {
    color: rgb(100, 100, 100);
}
