/* 메인 CSS 코드 */
/* 가로선 (divider) 코드
    hr {
      background: transparent;
      display: block;
      width: 100%;
      height: 3px;
      visibility: visible;
      border: none;
      border-bottom: 2px solid rgba(55, 53, 47, 0.09);
    }
    */
    /*
     h3 {
      font-size: 15px;
      font-family: 'Noto Sans KR', sans-serif;
    }
    */

    body {
      display: flex;
      flex-direction: column;
    }

    .title, .sub-title, .top-text, .sub-top-text {
      font-family: 'Nanum Myeongjo', sans-serif;
    }

    .top-text, .sub-top-text, .text, .spacer {
      margin-left: 350px;
    }

    .text {
      font-family: 'Noto Sans KR', sans-serif;
    }

    .spacer {
      padding-bottom: 900px;
    }

    



    .title {  
      position: absolute; top: 250px; left: 400px;
      text-align: left;
      font-size: 70px;
      font-weight: bolder;
      /* 애니메이션 코드 */
      animation-delay: 1s;
      position: absolute;
      animation-name: move1, fadeIn1;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }

    .sub-title {
      position: absolute; top: 260px; left: 400px;
      font-size: 32px;
      /* 애니메이션 코드 */
      animation-delay: 2s;
      /*나타날 때 까지의 지연 시간*/
      position: absolute;
      /*???*/
      animation-name: move2, fadeIn2;
      /*적용할 애니메이션 이름*/
      animation-duration: 1.2s;
      /*지속할 애니메이션 시간*/
      animation-iteration-count: 1;
      /*애니메이션 반복 횟수*/
      animation-fill-mode: both;
      /*애니메이션 종료 후의 위치*/
    }

    .top-text {
      font-size: 32px;
      font-weight: bold;
    }

    .sub-top-text {
      font-size: 24px;
      font-weight: bold;
    }

    .text {
      font-size: larger;
      line-height: 2.2;
      /*자간*/
      white-space: normal;
      /*???*/
    }

    /*인용문 (quote) 코드*/
    blockquote {
      margin-left: 350px;
      margin-top: 50px;
      font-size: 20px;
      padding-left: 1em;
      border-left: 2px solid rgb(55, 53, 47);
      font-family: 'Noto Sans KR', sans-serif;
      /* font-weight: bold; */
    }

    a {
      color: black;
      text-decoration: underline;
      font-family: 'Noto Sans KR', sans-serif;
    }

    /*애니메이션 코드*/

    /*이동*/
    @keyframes move1 {
      from {
        margin-left: -10%;
        margin-top: 0%;
      }

      to {
        margin-left: 0%;
        margin-top: 0%;
      }

    }

    /*사라졌다가 나타남*/
    @keyframes fadeIn1 {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes move2 {
      from {
        margin-left: -10%;
        /*위치 지정*/
        margin-top: 12%;
      }

      to {
        margin-left: 0%;
        margin-top: 12%;
      }

    }

    @keyframes fadeIn2 {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    
    
    /*반응형 코드*/
    /*모바일 환경에 대한 코드*/
    @media (max-width: 1000px) {
      h1 {
        display: none;
      }

      h2 {
        display: none;
      }

      h4 {
        display: none;
      }

      h5 {
        display: none;
      }

      div {
        display: none;
      }

      a {
        display: none;
      }

      blockquote {
        display: none;
      }

      p {
        display: none;
      }

      li {
        display: none;
      }

      html,
      body {
        margin: 10px;
        margin-left: 30px;
        padding: 0;
      }
    }

    /*데스크탑 환경에 대한 코드*/
    @media (min-width: 1001px) {
      h3 {
        display: none;
      }
    }