body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'NanumSquare', sans-serif !important;
  font-weight: bold;
}

.container {
  width: 100vw;
  height: 90vh;
}

.content {
  margin-right: 10%;
  margin-left: 10%;
  height: 90vh;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.facebook img {
    width: 100px;
}

.instagram img {
    width: 100px;
}

.kakaotalk img {
    width: 100px;
}

.email img {
    width: 100px;
}


.footer-container {
  width: 100vw;
  height: 10vh;
  font-size: 1.5rem;
}

.footer {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

.footer-content {
  color: #A0A0A0;
}

a {
  color: #A0A0A0;
  text-decoration: none;
}

.link-portfo a:hover, .link-blog a:hover, .link-github a:hover, .link-contact a:hover {
  color: #2979ff;
}

.footer-content a:hover {
  color: #2979ff;
}

/* 모바일 반응형 */

@media screen and (max-width: 479px) {
  .content {
    font-size: 1rem;
    height: 75vh;
    /* display: block; */
  }

  .footer-content {
    font-size: 1.2rem;
    height: 5vh;
  }

  .link-portfo a, .link-blog a, .link-github a, .link-contact a{
    font-size: 1rem;
  }

  .link-portfo, .link-blog, .link-github, .link-contact {
    margin-bottom: 5%;
  } 

  .footer {
    display: block;
  }

  .say-hello {
    margin-bottom: 5%;
  }

  .link {
    width: 70vw;
  }

  .content img {
    width: 50px;
  }

  .content p {
    display: none;
  }

  .link-contact a{
    color: #2979ff;
  }
}